@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}
.signup-box{
    max-width:350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    padding-top: 30px;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;
}
.signup-box h1{
  text-align: center;
  font-size: 50px;
  border-bottom: 4px solid #4caf50;
  margin-bottom: 20px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 5px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn20{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 20px;
}
.login-box{
    max-width:350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    padding-top: 27px;
    color: #fff;
    margin-top: 70px;
}
.login-box h1{
  text-align: center;
  font-size: 50px;
  border-bottom: 4px solid #4caf50;
  margin-bottom: 30px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.login-box a{
  color: white;
  margin-left: 27%;
}
.signup-goto{
  color: white;
  margin-left: 42%;
  margin-bottom: 70px;
}

#error-mail{
    color: yellow;
}